.table-basecol
  height: 100%
  padding-left: 10px
  padding-right: 10px
  // border-bottom: 1px solid #262b36A
  border-bottom: 0.1rem solid var(--color-surface-container-high)
  line-height: 35px
  position: relative
  text-align: center
  line-height: 3.4rem

  &::after
    content: ''
    width: 0.1rem
    height: 70%
    background-color: var(--color-surface-container-high)
    position: absolute
    right: 0
    top: 50%
    transform: translateY(-50%)

  &-hovered
    background-color: black
    transform: scale(1.2)
    cursor: pointer

  &-selected
    background-color: black
    border: 2px solid green
