.table-basecol
  height: 100%
  border-bottom: 0.1rem solid var(--color-surface-container-high)
  position: relative
  display: flex
  justify-content: center
  align-items: center

  &::after
    content: ''
    width: 0.1rem
    height: 70%
    background-color: var(--color-surface-container-high)
    position: absolute
    right: 0
    top: 50%
    transform: translateY(-50%)

  &-hovered
    background-color: black
    transform: scale(1.2)
    cursor: pointer

  &-selected
    background-color: black
    border: 2px solid green
