.table-helper
  width: 100%
  height: 4vh
  /* height: 50px; */
  /* border-top: 1px solid rgb(77, 77, 77); */
  position: sticky
  top: 0
  background-color: var(--color-background)
  z-index: 1

  &-item:first-child
    margin-left: 0.25rem

  &-item
    display: inline-block

  &-item:last-child
    margin-left: 2rem

.scan-count-label
  // color: var(--color-on-)
  line-height: 3.125rem
  padding-left: 1.25rem

.scan-count
  color: white

.table-helper-action-button:disabled
  background-color: rgb(88, 86, 86)
