.reo-scan-container
  height: 100vh

.task-sidebar
  width: 100%
  box-shadow: rgba(0, 0, 0, 0.25) 0px 13px 27px -5px,rgba(0, 0, 0, 0.3) 0px 8px 16px -8px
  background-color: var(--color-background)

.scan-time-icon
  display: flex
  align-items: center

.scan-type-label
  display: inline-block
  background-color: var(--color-surface-container-high)
  color: var(--color-on-surface)
  font-weight: bold
  padding: 6px 6px 6px 6px
  border-radius: 4px
  margin-left: 5px
