.menubar-list-item
  width: 100%
  height: 5rem
  display: flex
  align-items: center
  // border-left: 0.4rem solid v
  justify-content: center
  transition: .2s all

.menubar-active
  border-left: 0.45rem solid var(--color-primary)

.menubar-list-item > svg
  color: var(--color-on-background) !important

.menubar-active > svg
  color: var(--color-on-surface-container-high) !important
