tr
  text-align: left

th
  text-align: center
  min-width: 3.124rem
  width: 2%

.table-header
  background-color: var(--color-surface-container)
  color: var(--color-on-surface)
  height: 5vh

  &-row > td
    padding-left: 3rem

  &-column
    line-height: 3.2rem
