th
  text-align: center
  min-width: 3.124rem
  width: 2%

.table-header
  background-color: var(--color-surface-container)
  color: var(--color-on-surface)
  position: sticky
  top: 0
  z-index: 10

  &-column
    line-height: 4rem
