.column-country
    display: flex

    &-name
        width: 70%
        display: flex
        line-height: 25px
        justify-content: center
        align-items: center
        padding-right: 10px

    &-icon
        display: flex
        align-items: center
        justify-content: center
