.table-search-input-container
  width: 100%
  height: 5vh

.table-search-input
  border: none
  border-radius: none !important
  height: 100%
  align-items: center

  &:focus
    outline: none
    border: 2px solid var(--color-primary)

.table-search-component
  display: flex
  align-items: center

  &-icon
    position: absolute

.table-search-icon
  display: flex
  align-items: center

.table-search-component-icon
  z-index: 9999
